<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="unpackPath" value="C:/Data/WrapperApp/UnpackedProgram" />
    <add key="executableName" value="nogui.exe" />
    <add key="btn1Args" value="chrome" />
    <add key="btn2Args" value="firefox" />
    <add key="btn3Args" value="edge" />
  </appSettings>
</configuration>