<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="unpackPath" value="C:/Data/WrapperApp/UnpackedProgram" />
    <add key="executableName" value="InnerConsoleApp.exe" />
    <add key="btn1Args" value="--some-argument test1" />
    <add key="btn2Args" value="--some-argument test2" />
    <add key="btn3Args" value="--some-argument test3" />
  </appSettings>
</configuration>